.seriesList {
  /* border: none; */
  font-size: var(--size-fluid-2);
  padding-block: var(--size-fluid-1);
  padding-inline: var(--size-fluid-2);
  border-bottom: 1px solid var(--gray-7);
  /* animation: fade-in 1s var(--ease-5); */
}

.seriesList:hover {
  background-color: var(--gray-2);
}
