.series {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.raceSpan {
  width: 100%;
}

.sailed {
  background-color: rgba(6, 6, 255, 0.342);
}
.sailed a:link,
.sailed a:visited {
  color: white;
}

.raceLi {
  text-decoration: none;
  color: black;
  padding: 0.5em 0em;
  margin-top: 0.25em;
}

a:link,
a:visited {
  color: black;
}
html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
