@import "https://unpkg.com/open-props";

* {
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  /* width: 100%; */
  /* padding: 0; */
  /* margin: 0; */
  /* background: var(--gray-1); */
  /* font-family: var(--font-sans); */
  /* font-size: var(--font-size-1); */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

a {
  text-decoration: none;
  color: var(--gray-9);
}

#preact_root {
  height: 100%;
}

h1,
h2,
h3 {
  line-height: var(--font-lineheight-0);
  padding-block: var(--size-0);
  margin-block: var(--size-1);
}

.page {
  /* padding-inline: var(--size-3); */
  
  padding-block: var(--size-8);
  overflow: hidden;
  /* margin-inline: auto; */
  /* min-height: 100%; */
} 



